<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <publishItem help="Processors should derive from Sitecore.Publishing.Pipelines.PublishItem.PublishItemProcessor">
        <processor type="Sitecore.Support.Sitecore.Support.Publishing.Pipelines.PublishItem.ResetStandardValue, Sitecore.Support.155594" runIfAborted="true" patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.RemoveUnknownChildren, Sitecore.Kernel']" />
      </publishItem>
    </pipelines>
  </sitecore>
</configuration>